*{
  margin: 0px
}
table {
  display: grid;
  tr {
    td.left {
      background-color: cadetblue;
      padding: 50px;
      grid-column: 1/3;
    }

    td.right {
      padding: 50px;
      grid-column: 2/3;
    }
  }
}
