<%= javascript_pack_tag 'slider' %>
<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Products</h1>
<tbody>
<% @products.each do |product| %>
  <%= render product %>
<% end %>
</tbody>
<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Product', new_product_path %>
      </td>
    </tr>
  </tfoot>

</table>
